.launch {
    width: 25rem;
    height: auto;
    margin: 0 auto;
}

.url {
    background-color: rgba(darkgrey, .3);
    width: 60%;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 3px #888888;
}

