*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}
/* 
.btn {
   background-color: #FF524F;
   height: 3rem;
   text-align: center;
   align-items: center;
}  */

.col-box {
	margin: 0 auto;
	width: 60rem;
	height: 70vh;
	margin-top: 15vh;
	background-color: #cde7fb;
}

.u-center {
    text-align: center;
}

.form-control {
  text-align: center;
  display: inline-block;
  width: 30rem;
  border: 1px solid #83c3f6;
  border-radius: .3rem;
  height: 3rem;
  padding: .1rem .4rem;
}
